.venv
.idea
.idea/workspace.xml
.output
*/__pycache__/*
build/
dist/
*.egg-info/
*.egg
sdk_usage/
transformer_output/
__pycache__/
beat_craft_sdk/algorithms/transformers_config/
tes.ipynb
constrains.txt
gpt2_checkpoints/*
